.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
}

.todo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}